<section id="resume" class="resume section">
	<div class="container section-title" data-aos="fade-up">
		<h2>{{ 'RESUME.SELF' | translate }}</h2>
		<p>{{ 'RESUME.DESCRIPTION' | translate }}</p>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
				<h3 class="resume-title">{{ 'RESUME.SUMMARY.SELF' | translate }}</h3>
				<div class="resume-item pb-0">
					<h4>Wael Chabchoub</h4>
					<p><em>{{ 'RESUME.SUMMARY.DESCRIPTION' | translate }}</em></p>
					<ul>
						<li>Roermonder str 268a, Aachen, DE</li>
						<li>(49) 15235871100</li>
						<li>waelchabchoub&commat;outlook.com</li>
					</ul>
				</div><!-- End Resume Item -->
				<h3 class="resume-title">{{ 'RESUME.EDUCATION.SELF' | translate }}</h3>
				<div class="resume-item">
					<h4>{{ 'RESUME.EDUCATION.DEGREE2' | translate }}</h4>
					<h5>2020 - 2023</h5>
					<p><em>{{ 'RESUME.EDUCATION.UNIVERSITY2' | translate }}</em></p>
					<p>{{ 'RESUME.EDUCATION.DESCRIPTION2' | translate }}</p>
				</div><!-- End Resume Item -->
				<div class="resume-item">
					<h4>{{ 'RESUME.EDUCATION.DEGREE1' | translate }}</h4>
					<h5>2017 - 2020</h5>
					<p><em>{{ 'RESUME.EDUCATION.UNIVERSITY1' | translate }}</em></p>
					<p>{{ 'RESUME.EDUCATION.DESCRIPTION1' | translate }}</p>
				</div><!-- End Resume Item -->
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
				<h3 class="resume-title">{{ 'RESUME.PROFFESIONALEXPERIENCE.SELF' | translate }}</h3>
				<div class="resume-item">
					<h4>{{ 'RESUME.PROFFESIONALEXPERIENCE.TITLE6' | translate }}</h4>
					<h5>03.2023 - Present</h5>
					<p><em>Invitec GmbH &amp; Co. KG, Aachen, DE</em></p>
					<ul>
						<li>{{ 'RESUME.PROFFESIONALEXPERIENCE.DESCRIPTION6' | translate }}</li>
						<li><strong>{{ 'SKILLS.SELF' | translate }}:  </strong>Aurelia · Spring Boot · Jenkins· Docker . Asciidoctor · Java · TypeScript</li>
					</ul>
				</div><!-- End Resume Item -->
				<div class="resume-item">
					<h4>{{ 'RESUME.PROFFESIONALEXPERIENCE.TITLE5' | translate }}</h4>
					<h5>06.2021 - 02.2023</h5>
					<p><em>GOMYCODE, Sousse, TN</em></p>
					<ul>
						<li>{{ 'RESUME.PROFFESIONALEXPERIENCE.DESCRIPTION5' | translate }}</li>
						<li><strong>{{ 'SKILLS.SELF' | translate }}: </strong>Penetration Testing · Scripting · InstrusionDetection· Instrusion Prevention · Malware Analysis</li>
					</ul>
				</div><!-- End Resume Item -->
				<div class="resume-item">
					<h4>{{ 'RESUME.PROFFESIONALEXPERIENCE.TITLE4' | translate }}</h4>
					<h5>12.2020 - 02.2023</h5>
					<p><em>GOMYCODE, Sousse, TN</em></p>
					<ul>
						<li>{{ 'RESUME.PROFFESIONALEXPERIENCE.DESCRIPTION4' | translate }}</li>
						<li><strong>{{ 'SKILLS.SELF' | translate }}: </strong>Supervised and Unsupersived algorithms · Data Preprocessing · Features Extraction · Classification · Regression · Clustering · NLP </li>
					</ul>
				</div><!-- End Resume Item -->
				<div class="resume-item">
					<h4>{{ 'RESUME.PROFFESIONALEXPERIENCE.TITLE3' | translate }}</h4>
					<h5>06.2022 - 07.2022</h5>
					<p><em>ETC Tunisie, Remote</em></p>
					<ul>
						<li>{{ 'RESUME.PROFFESIONALEXPERIENCE.DESCRIPTION3' | translate }}</li>
						<li><strong>{{ 'SKILLS.SELF' | translate }}: </strong>HTML5 · CSS3 · JSON Web Token (JWT) · Angular · Symfony · REST APIs · API Platform · TypeScript · PHP · Bootstrap</li>
					</ul>
				</div><!-- End Resume Item -->
				<div class="resume-item">
					<h4>{{ 'RESUME.PROFFESIONALEXPERIENCE.TITLE2' | translate }}</h4>
					<h5>08.2021 - 09.2021</h5>
					<p><em>Gpro consulting, Sousse, TN</em></p>
					<ul>
						<li>{{ 'RESUME.PROFFESIONALEXPERIENCE.DESCRIPTION2' | translate }}</li>
						<li><strong>{{ 'SKILLS.SELF' | translate }}: </strong>Flutter · Flutter Mobile Vision</li>
					</ul>
				</div><!-- End Resume Item -->
				<div class="resume-item">
					<h4>{{ 'RESUME.PROFFESIONALEXPERIENCE.TITLE1' | translate }}</h4>
					<h5>07.2021 - 08.2021</h5>
					<p><em>Inside Conseils, Sousse, TN</em></p>
					<ul>
						<li>{{ 'RESUME.PROFFESIONALEXPERIENCE.DESCRIPTION1' | translate }}</li>
						<li><strong>{{ 'SKILLS.SELF' | translate }}: </strong>Python · Odoo</li>
					</ul>
				</div><!-- End Resume Item -->

			</div>
		</div>
	</div>
</section>