<section id="services" class="services section light-background">
	<div class="container section-title" data-aos="fade-up">
		<h2>{{ 'SERVICE.SELF' | translate }}</h2>
		<p>{{ 'SERVICE.DESCRIPTION' | translate }}</p>
	</div>
	<div class="container">
		<div class="row gy-4">
			<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
				<div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
				<div>
					<h4 class="title"><a class="stretched-link">{{ 'SERVICE.SERVICES.TITLE1' | translate }}</a></h4>
					<p class="description">{{ 'SERVICE.SERVICES.DESCRIPTION1' | translate }}</p>
				</div>
			</div>
			<!-- End Service Item -->
			<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
				<div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
				<div>
					<h4 class="title"><a class="stretched-link">{{ 'SERVICE.SERVICES.TITLE2' | translate }}</a></h4>
					<p class="description">{{ 'SERVICE.SERVICES.DESCRIPTION2' | translate }}</p>
				</div>
			</div><!-- End Service Item -->
			<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
				<div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
				<div>
					<h4 class="title"><a class="stretched-link">{{ 'SERVICE.SERVICES.TITLE3' | translate }}</a></h4>
					<p class="description">{{ 'SERVICE.SERVICES.DESCRIPTION3' | translate }}</p>
				</div>
			</div><!-- End Service Item -->
			<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
				<div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
				<div>
					<h4 class="title"><a class="stretched-link">{{ 'SERVICE.SERVICES.TITLE4' | translate }}</a></h4>
					<p class="description">{{ 'SERVICE.SERVICES.DESCRIPTION4' | translate }}</p>
				</div>
			</div><!-- End Service Item -->
			<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
				<div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
				<div>
					<h4 class="title"><a class="stretched-link">{{ 'SERVICE.SERVICES.TITLE5' | translate }}</a></h4>
					<p class="description">{{ 'SERVICE.SERVICES.DESCRIPTION5' | translate }}</p>
				</div>
			</div><!-- End Service Item -->
			<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
				<div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
				<div>
					<h4 class="title"><a class="stretched-link">{{ 'SERVICE.SERVICES.TITLE6' | translate }}</a></h4>
					<p class="description">{{ 'SERVICE.SERVICES.DESCRIPTION6' | translate }}</p>
				</div>
			</div><!-- End Service Item -->
		</div>
	</div>
</section>