<section id="stats" class="stats section">
	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<div class="row gy-4">
			<div class="col-lg-3 col-md-6">
				<div class="stats-item">
					<i class="bi bi-emoji-smile"></i>
					<span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
						class="purecounter"></span>
					<p><strong>{{ 'STATS.HAPPYCLIENTS' | translate}}: </strong> <span>{{ 'STATS.HAPPYCLIENTSTEXT' | translate}}</span></p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="stats-item">
					<i class="bi bi-journal-richtext"></i>
					<span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
						class="purecounter"></span>
					<p><strong>{{ 'STATS.PROJECTS' | translate}}: </strong> <br> <span>{{ 'STATS.PROJECTSTEXT' | translate}}</span></p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="stats-item">
					<i class="bi bi-headset"></i>
					<span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1"
						class="purecounter"></span>
					<p><strong>{{ 'STATS.HOURSOFSUPPORT' | translate}}: </strong> <span>{{ 'STATS.HOURSOFSUPPORTTEXT' | translate}}</span></p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="stats-item">
					<i class="bi bi-people"></i>
					<span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
						class="purecounter"></span>
					<p><strong>{{ 'STATS.HARDWORKERS' | translate}}: </strong> <span>{{ 'STATS.HARDWORKERSTEXT' | translate}}</span></p>
				</div>
			</div>
		</div>
	</div>
</section>