.btn-outline-dark-white-text {
	color: white;
	border-color: #333;
}

.btn-outline-dark-white-text:hover {
	background-color: #333;
	color: white;
	border-color: #333;
}

.centered-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}