<header id="header" class="header dark-background d-flex flex-column">
	<div class="language-selection">
		<app-language-selection></app-language-selection>
	</div>
	<i class="header-toggle d-xl-none bi bi-list"></i>
	<div class="profile-img">
		<img src="assets/img/my-profile-img.jpg" alt="" class="img-fluid rounded-circle">
	</div>
	<a href="index.html" class="logo d-flex align-items-center justify-content-center">
		<h1 class="sitename">Wael Chabchoub</h1>
	</a>
	<div class="social-links text-center">
		<a href="https://www.facebook.com/wael.chabchoub.1/" class="facebook"><i class="bi bi-facebook"></i></a>
		<a href="https://www.linkedin.com/in/wael-chabchoub-424b31170/" class="linkedin"><i
				class="bi bi-linkedin"></i></a>
		<a href="https://github.com/waelchabchoub" class="github"><i class="bi bi-github"></i></a>
		<a href="https://www.hackerrank.com/profile/waelchabchoub" class="hackerrank"><i class="fab fa-hackerrank"></i></a>
	</div>
	<nav id="navmenu" class="navmenu">
		<ul>
			<li><a routerLink="/home" fragment="hero" class="active"><i class="bi bi-house navicon"></i>{{ 'HEADER.HOME' | translate }}</a></li>
			<li><a routerLink="/home" fragment="about"><i class="bi bi-person navicon"></i> {{ 'HEADER.ABOUT' | translate }}</a></li>
			<li><a routerLink="/home" fragment="skills"><i class="bi bi-images navicon"></i> {{ 'SKILLS.SELF' | translate }}</a></li>
			<li><a routerLink="/home" fragment="resume"><i class="bi bi-file-earmark-text navicon"></i> {{ 'HEADER.RESUME' | translate }}</a></li>
			<li><a routerLink="/home" fragment="services"><i class="bi bi-hdd-stack navicon"></i> {{ 'HEADER.SERVICES' | translate }}</a></li>
			<li><a routerLink="/home" fragment="contact"><i class="bi bi-envelope navicon"></i>{{ 'HEADER.CONTACT' | translate }}</a></li>
		</ul>
	</nav>
	<div class="logout-button">
		<app-logout></app-logout>
	</div>
</header>