<section id="hero" class="hero section dark-background">
	<img src="assets/img/hero-bg.jpeg" alt="" data-aos="fade-in" class="">
	<div class="container" data-aos="fade-up" data-aos-delay="100">
		<h2>Wael Chabchoub</h2>
		<p>{{ 'HERO.IAM' | translate }} <span class="typed" data-typed-items="Software Engineer, Java Developer, Data Engineer">Developer</span>
			<span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
			<span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
		</p>
	</div>
</section>